<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (oM) {
      <div>
        <h2 data-cy="oMDetailsHeading"><span jhiTranslate="portariaApp.oM.detail.title">OM</span></h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="global.field.id">Código</span></dt>
          <dd>
            <span>{{ oM.id }}</span>
          </dd>
          <dt><span jhiTranslate="portariaApp.oM.nome">Nome</span></dt>
          <dd>
            <span>{{ oM.nome }}</span>
          </dd>
          <dt><span jhiTranslate="portariaApp.oM.sigla">Sigla</span></dt>
          <dd>
            <span>{{ oM.sigla }}</span>
          </dd>
          <dt><span jhiTranslate="portariaApp.oM.codom">Codom</span></dt>
          <dd>
            <span>{{ oM.codom }}</span>
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Voltar</span>
        </button>

        <button type="button" [routerLink]="['/om', oM.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Editar</span>
        </button>
      </div>
    }
  </div>
</div>
